@font-face {
  font-family: fivepx;
  src: url(fivepx.ttf);
}

body {
  margin: 0;
  font-family: fivepx, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;

  /* Remember to change this with the palette */
  background: #222321;
}

* {
  box-sizing: border-box;
}

.box {
  display: flex;
}

.root {
  position: relative;
}

canvas {
  /* Removes inline margins */
  display: block;
}

.log {
  overflow: scroll;
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.console input {
  background: none;
  font: inherit;
  color: inherit;
  border: 0;
  outline: none;
  width: 100%;
}

.console input[disabled] {
  opacity: 0.5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: solid 3px;
}

.button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
  padding: 2px 8px;
}

.button:focus {
  background: white;
  color: black;
}

.editor {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.viewport {
  position: relative;
  overflow: hidden;
}

.popup-manager {
  position: absolute;
  top: 0;
  left: 0;
}

.popup {
  position: absolute;
}

.text img {
  vertical-align: middle;
}
