@font-face {
  font-family: fivepx;
  src: url(fivepx.ttf);
}

body {
  margin: 0;
  font-family: fivepx, monospace;

  /* Remember to change this with the palette */
  background: #222321;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
}

canvas {
  /* Removes inline margins */
  display: block;
}

.box {
  display: flex;
}

.ui {
  position: relative;
  user-select: none;
  display: flex;
}

.viewport {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.sidebar {
  padding: 5px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.log-preview {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.inspect-modes {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.console input {
  background: none;
  font: inherit;
  color: inherit;
  border: 0;
  outline: none;
  width: 100%;
}

.console input[disabled] {
  opacity: 0.5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: solid 3px;
}

.button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
  padding: 2px 8px;
}

.button:focus {
  background: white;
  color: black;
}

.popup {
  position: absolute;
}

.text img {
  vertical-align: middle;
}

.viewport .popup-manager {
  position: absolute;
  top: 0;
  left: 0;
}

.hud {
  width: 240px;
}

.editor {
}

.editor .glyphs {
  height: 100%;
  overflow: scroll;
}

.editor .glyphs::-webkit-scrollbar {
  display: none;
}

.glyphs .glyph:hover {
  background: blue;
}

.console {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.equipment-slot .glyph {
  margin-right: 4px;
}

.banner-message {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 20px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
